body {
	background: yellow;
	text align: centre;
}

header {
    text-align: center;
}
table, th, td, tr {
    border: solid black 0.2rem
}

td {
    width: 2rem;
    text-align: center;
}

.error {
    background-color: red;
    padding: 1rem;
}

input[readonly] {
    background-color: grey;
    color: yellow;
}

#login {
    text-align: right;
}

#commentForm {
    border: 0.2rem solid black;
    margin: 1rem;
    padding: 1rem;
    background-color: lightgreen;
}
