{% extends '_base.html.twig' %}

{% block aboutLinkStyle %}current_page{% endblock %}

{% block title %}about{% endblock %}

{% block main %}

<h1>
    About us:
</h1>

<p>
    CSL Limited.ie
</p>
<p>
    We are based in Dublin Ireland.
</p>
<p>
    We have been in business since 2005.
</p>
<p>
    We build and maintain websites and offer several other IT Services,
</p>

{% endblock %}