{% extends '_base.html.twig' %}

{% block contactLinkStyle %}current_page{% endblock %} 

{% block title %}contact{% endblock %}

{% block main %}

<h1>
    Contact us
</h1>

<h3>Address</h3>
<p>
    CSL Limited
<p>
    CSL Limited
    <br/>
    Greenougue Industrial Estate,
    <br/>
    Newcastle,
    <br/>
    Co. Dublin
    <br/>

</p>

<h3>Contact Number:</h3>
<p>
    01 - 4589011
    Mob. - 0871234567
</p>

<h3>Email</h3>
<p>
    <a href="mailto:enquiries at B00108262@mytudublin.ie">enquiries at B00108262@mytudublin.ie</a>
</p>

{% endblock %} 


