{% extends '_base.html.twig' %}

{% block sitemapLinkStyle %}current_page{% endblock %}

{% block title %}sitemap{% endblock %}

{% block main %}

<h1>
    SiteMap
</h1>

<ul>
    <li><a href="index.php">Home</a></li>
    <li><a href="about.php">About us</a></li>
    <li><a href="list.php">Coffee Shop Rankings</a></li>
    <li><a href="contact.php">Contact us</a></li>
    <li><a href="sitemap.php">Site Map</a></li>
</ul>

{% endblock %}


